@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-brand-dark: #0B2641;
  --color-brand-darker: #0E1136;
  --color-brand-primary: #FF4006;
  --color-brand-secondary: #A37CFF;
}

body {
  @apply bg-[#0B2641] text-white font-sans;
}